<%- include('./partials/adminHeader.ejs') %>



<div class="w-full h-screen flex items-start px-20 py-20">
  <div class="w-[25%] flex h-screen flex-col items-start">
    <div class="flex flex-col">
      <a class="block w-fit mb-2" href="/owners/admin">All Products</a>
      <a class="block w-fit mb-2" href="/owners/createproduct">Create new product</a>
    </div>
  </div>
  <div class="w-[75%] flex flex-col gap-5 h-screen">
   <span class="text-xl font-medium">All Products -</span>
    <div class="flex items-start grid grid-cols-4 gap-5">

      <% products.forEach(function(product){ %>
      <div class="w-60 bg-[<%= product.panelcolor %>]">
        <div class="w-full h-52 bg-[<%= product.bgcolor %>]">
          <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
        </div>
        <div class="flex justify-between items-center px-4 py-4">
          <div>
            <h3><%= product.name %></h3>
            <h4>₹ <%= product.price %></h4>
          </div>
            <div>
                <form action="/products/update/<%= product._id %>" method="POST">
                    <button type="submit" class="text-blue-600">Update</button>
                </form>
                <form action="/products/delete/<%= product._id %>" method="POST">
                    <button type="submit" class="text-red-600">Delete</button>
                </form>
            </div>

          </a>
        </div>
      </div>
      <% }) %>

    </div>

  </div>

</div>
<%- include('./partials/footer') %>